.parrafo {
  padding: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  grid-area: pie;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: #ffff;
}

.footer ul li {
  margin: 3px;
  padding: 3px;
}

.parrafoC {
  padding: 18px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.campeones {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: fantasy;
}
